 
<% if !logged_in? %> 
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text darken-3">Tus Notas</h1>
      <div class="row center">
        <h5 class="header col s12 light">Creá, ordená y controlá todas las notas que necesites</h5>
      </div>
      <div class="row center ">
        <%= link_to "Registrarse", new_user_path, class:'btn-large waves-effect red darken-3 white-text' %>
      </div>
      <br><br>

    </div>
  </div>
  <% else %>
   <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text darken-3">Tus Notas</h1>
      <div class="row center">
        <h5 class="header col s12 light">Creá, ordená y controlá todas las notas que necesites</h5>
      </div>
      <br><br><br><br><br><br>


    </div>
  </div>
  <%end%>

  






