// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.input-size{
    height: 250px;
}

.buton-export{
    width:45%; 
    background-color: #B22222 !important; 
    color:white !important
}